# --- LLM Official SDKs ---
openai
anthropic
google-genai

# -- Youtube Transcript API
youtube-transcript-api

# --- Networking ---
requests

# --- Audio Processing ---
pygame
pydub

# --- Document Processing ---
pypandoc
pypdf

# --- System / Security ---
keyring

# --- Compiler & Build Tools ---
#pyinstaller

#nuitka
#ordered-set
#zstandard
